name: Update API

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  # Fire every 6 hours
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  copy-api:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Clone Gmsh from GitLab
        run: |
          bash .github/update-api.sh
        shell: bash

      - name: Commit changes
        uses: EndBug/add-and-commit@v9
        with:
          author_name: "gnikit"
          author_email: giannis.nikiteas@gmail.com
          message: "ci: update Gmsh API"
          add: "."
