name: release

on:
  workflow_run:
    workflows: ["Update API"]
    types:
      - completed

jobs:
  new-release:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.x

      - name: Update fpm version
        run: |
          version=$(python3 .github/version.py)
          if [[ $version != "version is up to date!" ]]; then
            echo "VERSION=$version" >> $GITHUB_ENV
          fi
        shell: bash

      - name: Commit changes
        if: ${{ env.VERSION }}
        uses: EndBug/add-and-commit@v9
        with:
          author_name: "gnikit"
          author_email: giannis.nikiteas@gmail.com
          message: "ci: update fpm version"
          add: "."

      - name: Bump version and push tag
        if: ${{ env.VERSION }}
        id: tag_version
        uses: mathieudutour/github-tag-action@v6.2
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          custom_tag: ${{ env.VERSION }}
          tag_prefix: ""

      - name: Create Release
        if: ${{ env.VERSION }}
        id: create_release
        uses: softprops/action-gh-release@v2.2.1
        with:
          name: Release fpm Gmsh ${{ env.VERSION }}
          tag_name: ${{ steps.tag_version.outputs.new_tag }}
          generate_release_notes: true
